*{
    box-sizing: border-box;
    /* border: 2px solid green; */
}
.spaces{
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
#checks{
   background-color:rgba(145, 225, 53, 0.859)
}
#checks:hover{
    background-color: green;
}
.trus{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.yearsList{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;

}