*{
    box-sizing: border-box;
    margin: 0px;
     /* border:  2px solid green;     */

}
.headings{
  display: flex;
  align-items: center;
  flex-direction: row;
justify-content:space-between;


}

.teams{
  display: flex;
  font-weight: 100;
  align-items: center;
gap: 20px;  
}



.teamsact ::after{
  content:"";
  display:flex;
  opacity: 0;
   background-color: green;
    width:  1rem;
    position: absolute;
     border: 2px solid rgb(83, 199, 5);
}  

.teamsact{
  border: 0.2px solid rgba(0, 128, 0, 0.014);
  font-weight: bold;
   display: flex;

   align-items: center;
   justify-content: center;
  opacity: 1;
}


.profieinfo{
  display: flex;
  align-items: center;
  font-weight: 400;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
}
.menuitem{
  display: flex;
  gap:10px;
  height:2.5rem;
   color: aliceblue;
  align-items: center;
  text-align: center;
  margin-left:2rem;

}
.menuitem >span{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menuitem:hover{
  cursor: pointer;
}

.active{
  background:rgba(27, 117, 7, 0.566)

}
.active::after{
  content:'';
   display: flexbox;
  width:0.2rem;
  height: 2rem;
   background:rgb(193, 189, 189)
}
.Logo{
   padding:10px;
   text-align: center;
   color: aliceblue;
}
.icons{
   font-size: 20px;
    color: aliceblue;
}
.sidebar{
  background:rgba(63, 249, 21, 0.973);
  display: flex;
   flex-direction: column;
  justify-content:space-between;
  gap:2rem;
}
.sidefooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding: 10px;
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.herobutton{
  background: whitesmoke;
}
