*{
    box-sizing: border-box;
     /* border:2px solid green  */
}
 #top-head{
     background:rgba(17, 17, 67, 0.978)
 }
 #search{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.655);
 }
 .search-button{
     border: none;
     background: transparent;
     outline: none;
 }
 .form-control{
     border:none;
     outline:none !important
 }
 .card{
     border:none
    
 }
 .product-card{
     width:22rem
 }