*{
    box-sizing: border-box;
    /* border: 2px solid teal; */
}
#prod{
    display:grid;
     grid-template-columns: repeat(2,2fr); 
    /* border: 2px solid red;
     */
     background:linear-gradient(16deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /* flex-wrap: wrap; */

}
#prods{
    background: transparent;
}