*{
    box-sizing: border-box;
    /* border:2px solid green */
}

#start-free{
    background-color: rgba(22, 8, 74, 100);
    padding-left: 20px;
    width: 45%;
    text-align: center;
    color: rgba(240, 248, 255, 0.863);
}
#login-here{
    width: 45%;
    text-align: center;
    color: rgba(240, 248, 255, 0.852);
    background-color: rgba(255, 166, 0, 0.884);


}
#brand-name{
    color: rgba(0, 0, 0, 0.897);
    font-weight:bolder;
    font-size: large;
}