* {
  margin: 0;
  padding: 0;
}
#mps video{
  width: 100%;
  height: 100vh;
  position:absolute;
  object-fit: cover;
  background: transparent;
  z-index: -1;
}
#mps{
  text-align: center;
  color: green 
  #F9C480
  #F5B461
  #1F2439
  #4BAAB4
  #EE7777
  color: ;
}



