*{
 
    box-sizing: border-box;
    /* border: 2px solid green;  */

}
#title{
    display: flex;
    position:absolute;
    top:20px;
}

#too{
    display: flex;
    position: absolute;
   
    
    transform: translate(250px,190px);
    border-radius: 1000px;
    width:50px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;


}
#second{

    display: flex;
    position: fixed;
    transform: translate(10px,250px);
    border-radius: 1000px;
    width:50px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;

}
#third{

    display: flex;
    position: absolute;
    transform: translate(30px,100px);
    border-radius: 1000px;
    width:50px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;
    
}
#first{
    display: flex;
    position: absolute;
    transform: translate(250px,250px);
    border-radius: 1000px;
    width:50px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;
}

@media only screen and (min-width: 1200px) {
 #second,#third,#first, #too{
        display: none;
    }
}


